:root {
    --title-color: #212121;
    --text-color: #757575;
    --accent-color: #2196f3;
    --bg-color: #2f303a;
    --button-hover: #188CE8;
}


/* --- INDEX.HTML --- */

body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* -HEADER- */
header {
    background-color: white;
}

.logo-header {
    color: black;
    text-decoration: none;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1,2;
    letter-spacing: 0.03em;
}

.first-word {
    color: var(--accent-color);
    text-decoration: none;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1,2;
    letter-spacing: 0.03em;
}

.menu-nav-item {
    list-style-type: none;
}

.menu-nav-link {
    color: var(--title-color);
    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1,15;
    letter-spacing: 0.02em;
}

.menu-nav-link:hover, .header-address-link:hover {
    color: var(--accent-color);
}

.menu-nav-link-current {
    color: var(--accent-color);
    text-decoration: none;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1,15;
    letter-spacing: 0.02em;
}

.header-address-link {
    color: var(--text-color);
    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1,15;
    letter-spacing: 0.02em;
}

/* -MAIN- */

/* section 1 */
.cap {
    background-color: var(--bg-color);
}

.cap-title {
    color: white;

    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}

.cap-button {
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.cap-button:hover {
    background-color: var(--button-hover);
}

.cap-button-text {
    color: white;

    font-weight: 700;
    font-size: 16px;
    line-height: 1,88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}